.masthead{ height: 100vh;}
header.masthead{
        text-align: center;
color: #fff;
background-image: url("https://images.unsplash.com/photo-1541907119045-e817d83fefb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center center;
background-size: cover;
clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);

}
     hr.new5 {
border: 2px solid #d661e0!important;

}

.btn-login{
    background-color: transparent !important; border-color: #d661e0; color: white;
}
.btn-login:hover{
    background-color: #d661e0 !important; border-color: #d661e0; color: white;
}

.btn-register{
    background-color: #d661e0 !important;
    color: white;
}