.text-pink{
    color: #d661e0;
}
.btn-register{
    background-color: transparent;
    color: #d661e0;
    font-weight: bold;
    border-color: #d661e0;
}
.btn-register:hover{
    background-color: #d661e0;
    color: white;
    font-weight: bold;
    border-color: #d661e0;
}